/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.tooltip {
    position: relative;
    background: red;
    height: 60px;
    width: 250px;
    text-align: center;
    line-height: 60px;
    color: white;
    font-size: 18px;
    margin: 0 auto;
}

.tooltip::before {
    position: absolute;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    content: attr(title);
    color: white;
    width: 200px;
    font-size: 0.8rem;
    line-height: 1.4rem;
    padding: 10px;
    border-radius: 5px;
}

.tooltip::after {
    position: absolute;
    z-index: 1;
    display: none;
    border: 5px solid transparent;
    content: "";
    height: 0;
    width: 0;
}
    .tooltip:hover::before, .tooltip:hover::after{
        display: inline-block;
    }

    .tooltip.top::before {
        bottom: calc(100% + 5px);
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip.top::after {
        bottom: 100%;
        left: 50%;
        border-top-color: rgba(0, 0, 0, 0.8);
        transform: translateX(-50%);
        border-bottom-width: 0;
    }

    .tooltip.right::before {
        top: 50%;
        left: calc( 100% + 5px );
        transform: translateY(-50%);
    }

    .tooltip.right::after {
        bottom: 50%;
        left: 100%;
        border-right-color: rgba(0, 0, 0, 0.8);
        transform: translateY(50%);
        border-left-width: 0;
    }


    .tooltip.bottom::before {
        top: calc( 100% + 5px );
        left: 50%;
        transform: translateX(-50%);
    }

    .tooltip.bottom::after {
        bottom: calc( 0% - 5px);
        left: 50%;
        border-bottom-color: rgba(0, 0, 0, 0.8);
        transform: translateX(-50%);
        border-top-width: 0;
    }


    .tooltip.left::before {
        top: 50%;
        right: calc(100% + 5px);
        transform: translateY(-50%);
    }

    .tooltip.left::after {
        bottom: calc(50% - 5px);
        right: 100%;
        border-left-color: rgba(0, 0, 0, 0.8);
        transform: translateY(0%);
        border-right-width: 0;
    }