/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.spinner-1 {
    position: relative;
    display: inline-block;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    vertical-align: middle;
}

    .spinner-1::after {
        position: absolute;
        content: "";
        width: 64px;
        height: 64px;
        border-radius: 64px;
        color: black;
        box-shadow: inset -5px 0px 0px 5px black;
        clip: rect(0, 64px, 32px, 0);
        animation: rotator 1s infinite linear;
    }

.spinner-2 {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    vertical-align: middle;
    background-color: black;
}

    .spinner-2::after, .spinner-2::before {
        position: absolute;
        content: "";
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 16px;
        border-radius: 16px;
        background-color: black;
    }

    .spinner-2::before {
        transform: translateX(-120%);
        transform-origin: 32px 50%;
        animation: orbit-1 1s linear infinite;
    }

    .spinner-2::after {
        transform: translateX(120%);
        transform-origin: -16px 50%;
        animation: orbit-2 1s linear infinite;
    }




@keyframes rotator {
    0% {
        transform: rotate(-180deg);
        box-shadow: inset -5px 0px 0px 5px black;
    }
    50% {
        transform: rotate(0deg);
        box-shadow: inset -1px 0px 0px 1px black;
    }
    100% {
        transform: rotate(180deg);
        box-shadow: inset -5px 0px 0px 5px black;
    }
}

@keyframes orbit-1 {
    0% {
        transform: translateX(-120%) rotate(180deg);
    }
    30% {
        transform: translateX(-120%) rotate(0deg);
    }
    70% {
        transform: translateX(-120%) rotate(0deg);
   }
    100% {
        transform: translateX(-120%) rotate(-180deg);
    }
}

@keyframes orbit-2 {
    0% {
        transform: translateX(120%) rotate(180deg);
    }
    30% {
        transform: translateX(120%) rotate(0deg);
    }
    70% {
        transform: translateX(120%) rotate(0deg);
   }
    100% {
        transform: translateX(120%) rotate(-180deg);
    }
}