/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.layout1 main  {
    display: flex;
    flex-direction: row;
}

.layout1 article {
    flex: 1 58%;
    margin-right: 2%;
}

.layout2 header {
    display: flex;
    flex-direction: row;
}

.layout2 header nav {
    flex: 1;
    margin-left: 2%;
}

.layout2 main {
    display: flex;
    flex-direction: row;
}

.layout2 main article {
    margin-left: 2%;
    margin-right: 2%;
}

.layout3 header {
    display: flex;
    flex-direction: row-reverse;
}

.layout3 header nav {
    flex: 1;
    margin-right: 2%;
}

.layout3 .articles {
    display: flex;
    flex-direction: row;
}

.layout3 .articles article:nth-child(2) {
    margin-left: 1%;
    margin-right: 1%;
}


