/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

.triangle {
    position: relative;
    height: 320px;
    clip-path: polygon(50% 0, 20% 100%, 80% 100%);
}

    .triangle div {
        position: absolute;
        top: 0%;
        background: red;
        margin: 0 0 10px;
        text-align: center;
        line-height: 100px;
        color: red;
        font-size: 0.8em;
        width: 100%;
        height: 100px;
        transition: all ease 1s;
    }
.top {
    z-index: 2;
}

.mid {
    z-index: 1;
}
.triangle:hover div {
    color: white;
}

.triangle:hover .mid {
    background: green;
    top: 110px;
}

.triangle:hover .bottom {
    background: blue;
    top: 220px;
}